

<ion-row *ngIf="recieved_data.length > 0">
  <ion-col *ngFor="let data of recieved_data;" size="6">
    <ion-card class="card" no-margin (click)="open(data)">
      <ion-badge class="badge" *ngIf="data.offer">{{data.discount}}%</ion-badge>
      <img [src]="data.image[0]" [alt]="data.name">
      <ion-text class="filter-btn">{{data.name}}</ion-text>
      <ion-card-content>
        <ion-card-title>
          <ion-row>
            <ion-col *ngIf="data.offer" no-padding>
              <ion-text text-left><span class="price"><span class="inline">{{data.currency}}{{data.cost_price}}</span> <strong>{{data.currency}}{{fun.calculate(data.cost_price, data.discount)}}</strong></span></ion-text>
            </ion-col>
            <ion-col *ngIf="!data.offer" no-padding>
              <ion-text text-left><span class="price"><strong>{{data.currency}}{{data.cost_price}}</strong></span></ion-text>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>