<!-- /**
 * PunnuMistri - E-commerce app starter Ionic 4( )
 *
 * Copyright © 2018-present PunnuMistri. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 */ -->

<ion-header class="mybg">
  <ion-toolbar color="mytheme">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" (click)="fun.navigate('search')"  [(ngModel)]="searchTerm" padding-start placeholder="Search Product..." class="search-bar"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="fun.navigate('cart')">
        <ion-icon name="cart" slot="icon-only" no-margin class="white top-btn"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="mytheme" class="segmenttoolbarSection">
      <ion-segment mode="md" (ionChange)="seg($event)" scrollable="true" id="dag" class="segSection">
        <ion-segment-button  [attr.id]="'seg_' + i" *ngFor="let item of data; let i = index;" no-margin no-padding (ionSelect)="update(i)"
          class="my-btn" [value]="item.Id" [ngClass]="{'btn-active':segment == item.Id}">
          <ion-text padding-horizontal class="text">{{item.Name}}</ion-text>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding color="light">
    <div *ngIf="products.length == 0" class="mid">
        <ion-row size="12" justify-content-center disabled="true">
          <button class="circle">
            <ion-icon name="mail" size="large"></ion-icon>
          </button>
        </ion-row>
        <ion-row size="12" justify-content-center disabled="true">
          <ion-text><strong>You have no products for this Category!</strong></ion-text>
          <ion-button color="mytheme" margin-top (click)="fun.back()"><span class="white">Continue Shopping</span></ion-button>
        </ion-row>
      </div>
    <ng-container *ngIf="products.length > 0">
  <ion-slides pager="false" [options]="slideOpts" (ionSlideDidChange)="change()" (click)="preventDefault($event)" #Slides>
    <ion-slide>
      <app-productlist [recieved_data]="products"></app-productlist>
    </ion-slide>
  </ion-slides>
</ng-container>
</ion-content>